/*
Theme Name: Mafia
Description: Used to style Gutenberg Editor.
*/

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
optgroup,
textarea {
    color: #717e81;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-size: 1rem;
    line-height: 28px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 16px;
    line-height: 1.5;
    clear: both;
    color: #222;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}

.editor-post-title__input {
    font-family: 'Montserrat', sans-serif;
}

p {
    margin: 0 0 1.5em;
}

p:last-child {
    margin: 0;
}

dfn, cite, em, i {
    font-style: italic;
}

blockquote {
    margin: 0 1.5em;
    border-left: 3px solid #000;
    padding: 15px;
}

address {
    margin: 0 0 1.5em;
}

pre {
    background: #eee;
    font-family: "Courier 10 Pitch", Courier, monospace;
    font-size: 15px;
    font-size: 0.9375rem;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1.6em;
}

code, kbd, tt, var {
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    font-size: 15px;
    font-size: 0.9375rem;
}

abbr, acronym {
    border-bottom: 1px dotted #666;
    cursor: help;
}

mark, ins {
    background: #fff9c0;
    text-decoration: none;
}

big {
    font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
    box-sizing: inherit;
}

body {
    background: #fff;
    /* Fallback for when there is no custom background color defined. */
}

hr {
    background-color: #ccc;
    border: 0;
    height: 1px;
    margin-bottom: 1.5em;
}

ul, ol {
    margin: 0 0 1.5em 0;
    padding-left: 1.5em;
}

ul {
    list-style: disc;
}

ol {
    list-style: decimal;
}

li > ul,
li > ol {
    margin-bottom: 0;
    margin-left: 1.5em;
}

dt {
    font-weight: bold;
}

dd {
    margin: 0 1.5em 1.5em;
}

img {
    height: auto;
    max-width: 100%;
    display: inline-block;
    vertical-align: middle;
}

figure {
    margin: 1em 0;
    /* Extra wide images within figure tags don't overflow the content area. */
}

table {
    margin: 0 0 1.5em;
    width: 100%;
    border-collapse: collapse;
}

table, td, th {  
  border: 1px solid #ddd;
  text-align: left;
}

th, td {
  padding: 15px;
}

/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
    color: #26cdff;
    text-decoration: none;
}

a:hover, 
a:focus, 
a:active {
    color: #222;
}

a:focus {
    outline: thin dotted;
}

a:hover, 
a:active {
    outline: 0;
}